# http://editorconfig.org   https://www.cnblogs.com/xieqian/p/10045610.html
# 这个文件是告诉不同编辑器，idea的：要遵循这些代码风格
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
